<h1>Store Status</h1>

<table id="admin-dashboard-table" class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Products</th>
      <th scope="col">Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td class="text-center status"><%= @product_count %></td>
    <td class="text-center status"><%= @category_count %></td>
    </tr>
  </tbody>
</table>